/* NAVBAR */
.logo-conaset {
  /* margin-left: 70px; */
  /*   width: 100px;
  height: 140px;
  max-height: 68px;*/
}

.vertical-line {
  width: 2px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  margin-left: 150px;
  position: absolute;
}
/* FIN NAVBAR */

.hero {
  width: 100%;
  /* height: 100vh; */
  position: relative;
  padding: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-video {
  z-index: -1;
}

#footer {
  font-size: 1rem;
  background: #0a132d;
  color: #fff;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  font-size: 0.875rem;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Roboto Slab', sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
  text-transform: uppercase !important;
  font-family: Roboto, sans-serif;
  line-height: 1.5rem;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1.375rem;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
  color: #008ae0;
  text-decoration: none;
}

#footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  background: #eeeeee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0f69b4;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  color: #fff;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 0.8125rem;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}
